Checks: '
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  readability-duplicate-include,
  readability-else-after-return,
  readability-redundant-access-specifiers,
  readability-qualified-auto,
  readability-redundant-control-flow,
  readability-redundant-preprocessor,
  readability-redundant-casting,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-reference-to-constructed-temporary,
  readability-misplaced-array-index,
  readability-redundant-member-init,
  readability-misleading-indentation,
  readability-inconsistent-declaration-parameter-name,
  readability-implicit-bool-conversion,
  readability-avoid-unconditional-preprocessor-if,
  readability-avoid-const-params-in-decls,
  readability-avoid-nested-conditional-operator,
  modernize-concat-nested-namespaces,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-macro-to-enum,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-type-traits,
  modernize-use-bool-literals,
  modernize-return-braced-init-list,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-no-automatic-move,
  performance-enum-size,
  performance-trivially-destructible,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  misc-unused-parameters,
  misc-static-assert,
  misc-redundant-expression,
  misc-misplaced-const,
  misc-unused-using-decls,
  misc-unused-alias-decls,
  misc-header-include-cycle,
  misc-misleading-identifier,
  misc-misleading-bidirectional,
  misc-const-correctness,
  misc-confusable-identifiers,
  google-runtime-int,
  cppcoreguidelines-missing-std-forward'
WarningsAsErrors: '*'
InheritParentConfig: false
FormatStyle: 'file'
